.introduction {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(53, 26, 26);
    .content {
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 95vw;
        height: 50vh;
        .details {
            align-self: center;
            height: 250px;
            width: 50vw;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            justify-content: space-around;
            box-shadow: 0 4px 15px 4px rgba(248, 70, 183, 0.2), 4px 6px 20px 0 rgba(237, 59, 195, 0.19);
            transition: all 1s;
            .name {
                align-self: center;
                color: aliceblue;
                box-shadow: none !important;
                font-size: 46px;
                letter-spacing: 5px;
                font-family: cursive;
                font-weight: bolder;
                margin-bottom: 3%;
                transition: all 1s;
            } :hover {
                cursor: pointer;
                box-shadow: none !important;
                font-size: 48px;
                color: rgb(191, 213, 254);
                text-shadow: 5px 5px 10px aliceblue;

            }
            .iam-cotnainer {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                margin-top: 5%;
                gap: 5px;
                box-shadow: none !important;
                .iam {
                    color:aquamarine;
                    font-size: 16px;
                    transition: all 1s;
                    box-shadow: none !important;
                    font-family: cursive;
                }
                :hover {
                    cursor: pointer;
                    box-shadow: none !important;
                    font-size: 28px;
                    gap: 15px;
                    margin-top: 0;
                    color: bisque;
                    letter-spacing: 5px;
                    text-shadow: 5px 5px 10px aquamarine;
                }
            }
            
        }
        :hover {
            box-shadow: 0 4px 15px 4px rgba(111, 140, 236, 0.2), 4px 6px 20px 0 rgba(111, 140, 236, 0.2);
        }
        .photo {
            align-self: center;
            height: 250px;
            width: 250px;
            box-shadow: 0 4px 15px 4px rgba(248, 70, 183, 0.2), 4px 6px 20px 0 rgba(237, 59, 195, 0.19);
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            img {
                align-self: center;
                opacity: 0.7;
                width: 200px;
                height: 200px;
                transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                border-radius: 8px;
            }
            :hover {
                cursor: pointer;
                width: 220px;
                height: 220px;
                opacity: 1;

            }
        }
    }  
}
@media screen and (max-width: 680px) {
    .introduction {
        height: 100vh;
      justify-content: center;
      .content {
          display: flex;
          height: 82vh;
          flex-direction: column !important;
          justify-content: space-around !important;
          .details {
              width: 89vw;
              justify-content: center;
              .name {
                  font-size: 28px;
                  margin-bottom: 0;
              }
              .iam-cotnainer {
                  margin-top: 0% !important;
                  .iam {
                      font-size: 12px;
                  }
              }
          }
      }
    }
  }